<p style="color: green"><%= notice %></p>


<div id="images", class="mx-auto">
  <%= link_to "Create new post", new_image_path, class: "btn btn-primary" %>
  <% @images.each do |image| %>
    <%= render image %>
  <% end %>
</div>


